* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.encabezado{
    background-image: linear-gradient(#779db4, #D4E6F1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.encabezado__titulo{
    font-family: 'Playfair Display', serif;
    margin-left: 25px ;
}

.encabezado ul{
    list-style-type: none;
}

.encabezado li {
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px; 
}
.encabezado__menu--link{
    text-decoration: none;
    color: rgb(30, 148, 81);
    font-size: 24px;
}

.encabezado__menu--link:hover{
    text-decoration: none;
    color: rgb(18, 105, 56);
}

.encabezado .carrito{
    margin-right: 20px;
    width:10%;
}


main{
    margin: 50px;
}    

.especial{
    display: flex;
    flex-direction: row;  
}


.especial div{
    margin-left: 20px;
}
h2{
    margin-bottom: 15px;
    color: skyblue;
}

.desayunos__boton{
    text-decoration: none;
    padding: 7px;
    font-size: 12px;
    color: #ffffff;
    background-color: #579bbd;
    border-radius: 6px;
    border: 2px solid #5c639c;
}

.desayunos__boton:hover{
    text-decoration: none;
    padding: 9px;
    font-size: 12px;
    color: #ffffff;
    background-color: #b6cfdb;
    border-radius: 8px;
    border: 1px solid #737585;
}

main .masVendidos{
    margin-top: 50px;
 
}

.masVendidos a{
    text-decoration: none;
    color: rgb(49, 164, 209); 
   
}

.propuestas{
    margin: 50px;
}

h3{
    text-align: center;
}
.envios{
    padding-top: 40px;
    padding-bottom: 70px;
}
.envios__titulo{
    text-align: left;
}
.pie__titulo{
    padding-bottom: 30px;
  
}

.pie{
    background-color:#979ea5 ;
    
}
.pie .pie__link{
    text-decoration: none;
    color: rgb(173, 41, 18);
}

/*TIENDA*/

.tienda{
    display: grid;
    grid-template-columns: 30% 35% 35;
    grid-template-rows: 120px 400%px;
    grid-template-areas: 
    "filtro articulo articulo"
    "filtro articulo articulo"

}

.filtro{
    grid-area: filtro;
}

.articulo{
    grid-area: articulo;
}

.categorias li{
   list-style-type: none;
   color: #D4E6F1;
}


input {
    width: 90px; height: 30px;
    transition: all 2s;       
 }
 input:focus {
    width: 200px;
    font-size: 24px;
 }
 

