/*Desayunos*/ 

.desayuno{
   margin: auto;
   margin-bottom: 8%;
   margin-top: 5%;

   .desayuno-text{
       margin: auto;
       margin-top: 4%;
       font-family: 'Playfair Display', serif;
   }
}
